@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #000000;
    background-color: #d5f170;
}


h1 {
    font-family: 'Bungee Spice';
    font-weight: 200;
    font-size: 60px;
}

#logo {
    float: left;
    /* position: fixed; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
}