@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Geologica:wght@100;200;300;400&family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');





* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    color: #000000;
    background-color: #d5f170;
    font-family: 'Geologica';
    background-color: #b4d9c6;
}

/*Header Styling */


/* h1 {
    font-family: 'Libre Baskerville';
    font-weight: 200;
    font-size: 40px;
} */

h1 {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 60px;
    color: #000000;
}

h2 {
    font-family: 'Libre Baskerville';
    margin: 5%;
}

hr {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
}

#logo {
    margin-bottom: 10px;
    text-decoration: none;
}

#navbar-wrapper {
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
}



#menu {
    display: flex;
    font-size: 110%;
    letter-spacing: 3px;
    background-color: white;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    border-right: 1px solid black;
    padding: 0px 15px;
}

.navbar-links {
    text-decoration: none;
}

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}



/* containers */

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Image Styling */

.hero-image-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.video-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    justify-content: center;
}

.video-container iframe {
    width: 100%;
    max-width: 100%;
}

.image-container {
    max-width: 100%;
    height: auto;
}

.text-container {
    text-align: center;
    width: 100%;
    padding 0 20px 20px;
    margin: 20px 1px;
}

#for-developers {
    margin-top: 20px;
}

.grand-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (min-width: 761px) {
    .grand-flex-box {
        flex-direction: row;
    }
}



/* Form Styling */

.form-section {
    clear: left;
    background: url("../images/laptopandpad.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;

}

.contact-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Media Queries */

@media screen and (max-width: 380px) {
    h1 {
        font-size: 30px;
    }
}

@media screen and (min-width: 380px) and (max-width: 440px) {

    h1,
    h2 {
        font-size: 150%;
    }

    p {
        font-size: 120%;
    }
}

@media screen and (min-width: 440px) and (max-width: 560px) {

    h1,
    h2 {
        font-size: 160%;
    }

    p {
        font-size: 130%;
    }
}

@media screen and (min-width: 560px) and (max-width: 760px) {

    h1,
    h2 {
        font-size: 220%;
    }

    p {
        font-size: 150%;
    }

    .video-container {
        justify-content: center;
        margin: 5% auto;
        max-width: 760px;
    }

    .video-container iframe {
        justify-content: center;
        margin: 5% auto;
        width: 90%;
    }
}


/* @media screen and (max-width: 480px) {
    .text-container {
        font-size: 40px;
    }
} */

/* Experimental media query to reduce image size when scaling up in screen size" */

/* @media (min-width: 768px) {
    .image-container {
        max-width: 50%;
    }
} */

/* @media (min-width: 992px) {
    .image-container {
        max-width: 25%;
    }
}

@media (min-width: 1200px) {
    .image-container {
        max-width: 50%;
    }
} */